.App {
  text-align: center;
}

.header-todo{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color:#edbf04;
  font-weight: bold;
  font-size: 40px;
  /* background-color: rgb(213, 196, 229); */
  /* background-color: rgba(156, 134, 106, 0.255); */
  background-color: #f9edbb58;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
}

.container{
  text-align: center;
}
.body_todos{
  text-align: left;
  display: inline-block;
  line-height: 35px;
  font-size: 17px;
  color:rgb(88, 61, 21);
  
}

#addbutton{
  margin-left: 5px;
  margin-right: 4px;
}